
/******************************************************************************
 * Page layout 
 *****************************************************************************/

@media screen and (min-width: 600px) { 
    .row { 
        display: flex;
    } 
}

@media screen and (min-width: 600px) {
    .column {
        flex: 50%;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

@media screen and (max-width: 599px) {
    .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/******************************************************************************
 * Body 
 *****************************************************************************/

body {
    font-family: "Palatino Linotype";
    font-size: 16px;
}

/******************************************************************************
 * Div, pre et blockquote
 *****************************************************************************/

#content-div {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

div.block {
    margin-left: 10px;
    border-left: 3px solid #EEEEEE;
    padding-left: 3px;
}

div.code, pre.code {
    background-color: #F9F9F9; /* #efefef; */
    border: 1px solid #AAA;
    padding-left: 3px;
    padding-right: 3px;
    padding-top : 2px;
    padding-bottom : 2px;
    font-family: "Inconsolata", "Consolas", "Arial", "Monospace"; 
    color: black;
    font-size: 12px;
}

blockquote {
    background-color: #efefef;
}

/******************************************************************************
 * Titres
 *****************************************************************************/

h1, h2, h3, h4, h5 {
    font-family: "Palatino Linotype";
    font-weight: bold;
}

h1 {
    color: #14cc67; 
    font-size: 22px; 
    margin-top: 18px; 
    margin-bottom: 6px;
    border-bottom: 1px solid #14cc67;
}

h2 {
    color: #6714cc;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 6px;
    border-bottom: none; /* 1px solid #6714cc; */
}

h3 {
    color: #cc6714;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 4px;
}

h4 {
    color: #7a49a5;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/******************************************************************************
 * Paragraphs
 *****************************************************************************/

p {
    font-size: 16px;
    color: black;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "Palatino Linotype";
    text-align: justify;
}

p a {
    color: #6714cc;
    font-size: 16px;
    text-decoration: underline;
    font-family: "Palatino Linotype";
}

/* Retour */
p.back {
    text-align: center;
}

/* Signature */
p.sign {
    text-align: center; 
    color: grey;
    font-size: 12px;
}

/******************************************************************************
 * Tables
 *****************************************************************************/

table {
    border: 1px solid #AAA;
    border-collapse: collapse; 
    border-spacing: 0;
    width: 100%;
    font-family: "Palatino Linotype";
}
th {
    border-bottom: 1px solid #AAA;
    text-align: center;
    font-size: 16px;
}
tr:nth-child(odd) {
    background: #DDDDDD;
}
table.def td:nth-child(1) {
    font-family: "Consolas";
    width: 30%;
}
table.fun td:nth-child(1) {
    font-family: "Consolas";
    width: 30%;
}
table.fun td:nth-child(2) {
    font-family: "Consolas";
    width: 15%
}
td {
    color: black;
    font-size: 16px;
}

/******************************************************************************
 * Span et code
 *****************************************************************************/

code {
    font-size: 16px;
    background-color: #F9F9F9;
    font-family: "Inconsolata", "Consolas", "Arial", "Monospace";
    border: 1px solid #AAA;
}

span.notabene:before {
    content: "☞";
    margin-right: 6px;
    color: orange;
    font-size: 32px;
}

span.keyword {
    font-weight: bold;
    color: #1479cc;
}

span.function {
    color: #7013c6;
}

span.string {
    color: #3c891b;
}

span.comment {
    color: #ffa500;
    font-style: italic;
}

span.type {
    color: #14cc67;
}

/******************************************************************************
 * Text elements
 *****************************************************************************/

 /* Strong and em are not used */
 
b {
    color: #1479cc;
}
b.green {
    color: #55AA55;
}
b.blue {
    color: #9999CC;
}
b.orange {
    color: #FF6600;
}

i {
    color: #AAA;
}

u {
    color: #cc141d;
}

/******************************************************************************
 * Lists
 *****************************************************************************/

/* Menu */

ol.menu { 
    counter-reset: item 
}

ol.menu li { 
    display: block 
}

ol.menu li:before { 
    content: counters(item, ".") " "; 
    counter-increment: item ;
    font-size: 14px;
}

ol.menu a {
    color: #6714cc;
    font-size: 16px;
    font-family: "Palatino Linotype";
}

/* Liste normale */

ol, ul {
    font-family: "Palatino Linotype";
    font-size: 16px;
    color: black;
}

li a {
    color: #6714cc;
}

li {
    color: black;
}

/******************************************************************************
 * Spécifiques
 *****************************************************************************/

#intro {
    text-align: justify;
}
