/*-----------------------------------------------------------------------------
 * Created: 2 april 2018 transfered from free.fr to github but it's older
 * Revised: 17 april 2020 and 12 june 2020
 * Author: Damien Gouteux
 * Unused:
 *     content: "» ";
 *     a:visited
 *     rgb(0, 111, 221); un bleu sympa ou 006fdd
 *     text-decoration: underline;
 *-----------------------------------------------------------------------------
 * Fusion of style2018 created on Mar 2, 2018 and modified only on Mar 5, 2018.
 * Customisation of .jumbotron added on 12 june 2020.
 *-----------------------------------------------------------------------------
 * Summary:
 *     customisation .jumbotron
 *     body
 *     title: h1, h2, h3, h4
 *     paragraph
 *     .center
 *     div
 *     span
 *     Pre, Code and Span for Code
 *     a
 *     li
 *     table
 *     définitions de termes
 *     hr
 *     blockquote
 *---------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
 *
 * Customisation jumbotron
 *
 *---------------------------------------------------------------------------*/

.jumbotron {
    padding-top: 30px;
}
.jumbotron p, .jumbotron li {
    color: rgb(119, 119, 119);
    font-family: "Palatino Linotype";
    font-size: 18px;
    font-weight: 200;
    line-height: 25.7167px;
    margin-bottom: 10px;
}
.jumbotron h1 {
    font-size: 58.5px;
    font-weight: 300;
    line-height: 64.35px;
    margin-bottom: 9px;
    margin-top: 9px;
}
.jumbotron hr {
    border-top-color: #dbdbdb;
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
}

/*-----------------------------------------------------------------------------
 *
 * Corps
 *
 *---------------------------------------------------------------------------*/

body {
    font-family: "Palatino Linotype", "Palatino", "Georgia";
    background-color: rgb(252, 252, 252);
    border-bottom: 0;
}

/*-----------------------------------------------------------------------------
 *
 * Titres
 *
 *---------------------------------------------------------------------------*/

h1, h2, h3, h4 {
    font-family: "Palatino Linotype", "Palatino", "Georgia";
    font-style: normal;
    font-weight: normal;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #929497;
    line-height: 27px;
    margin-bottom: 10px;
}
h2 {
    font-size: 22px;
    color: #CEC498;
}
h3 {
    font-size: 20px;
    color: #98a2ce;
}
h4 {
    font-size: 18px;
    color: #929497;
}
h1.under {
    border-bottom: 1px solid #929497;
}
h2.under {
    border-bottom: 1px solid #CEC498;
}
h3.under {
    border-bottom: 1px solid #98a2ce;
}
h4.under {
    border-bottom: 1px solid #929497;
}
h1.alt {
    color: #006FDD;
    font-weight: normal;
}
h1.alt.under {
    border-bottom: 1px solid #006FDD;
}
h1.cal, h2.cal, h3.cal, h4.cal {
    font-family: "Calibri";
}

/*-----------------------------------------------------------------------------
 *
 * Paragraphes
 *
 *---------------------------------------------------------------------------*/

p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #111111;
}
p.first:first-letter {
    font-size:18;
    font-weight: bold;
    color: #CEC498;  
}
p.orange_dashed_bottom {
    border-bottom: 1px dashed #CEC398;
    color: #FF8000;
    font-family: "Consolas";
}
p.centered_bordered {
    border-top: 1px solid #929497;
    border-bottom: 1px solid #929497;
    text-align: center;
}
p.cal {
    font-family: "Calibri";
    font-size: 16px;
}

/*-----------------------------------------------------------------------------
 *
 * Classe : centré
 *
 *---------------------------------------------------------------------------*/

.center {
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

/*-----------------------------------------------------------------------------
 *
 * Division
 *
 *---------------------------------------------------------------------------*/

#content-div {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
div.bordered {
    border: 1px solid #929497;
}
div.block {
    margin-left: 10px;
    border-left: 2px solid #EEEEEE;
    padding-left: 3px;
}

/*-----------------------------------------------------------------------------
 *
 * Span
 *
 *---------------------------------------------------------------------------*/

span.morphlex, span.morphgram {
    font-family: "Consolas";
    font-style: normal;
    font-size: 13px;
    background-color: #F9F9F9;
    padding-left: 2px;
    padding-right: 2px;
}
span.morphlex {
    border: 1px solid #9999CC;
    color: #9999CC;
}
span.morphgram {
    border: 1px solid #55AA55;
    color: #55AA55;
}
span.u {
    border-bottom: 1px solid #AAAAAA;
}
span.green {
    color: #55AA55;
}
span.blue {
    color: #9999CC;
}
span.orange {
    color: #FF6600;
}
span.green.u {
    border-bottom: 1px solid #55AA55;
}
span.blue.u {
    border-bottom: 1px solid #9999CC;
}
span.orange.u {
    border-bottom: 1px solid #FF6600;
}

/*-----------------------------------------------------------------------------
 *
 * Pre, Code and Span for Code
 *
 *---------------------------------------------------------------------------*/

pre.code, code {
    background-color: #F9F9F9; /* #FAFAFA; */
    border: 1px solid #AAAAAA;
    color: black;
}
pre.code {
    padding: 2px;
    font-family: "Consolas";
    font-size: 14px;
}
code {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

code, span.identifier, span.keyword, span.string, span.number, span.special, span.boolean {
    font-family: "Consolas";
    font-size: 14px;
    background-color: #F9F9F9;
}

span.identifier {
    color: rgb(0, 0, 255);
}
span.keyword {
    color: rgb(255, 119, 0); /* orange */
}
span.string {
    color: rgb(0, 170, 0);
}
span.number {
    color: rgb(255, 0, 0);
}
span.special {
    color: rgb(144, 0, 144); /* purple */
}
span.comment {
    color: grey;
    font-style: italic;
}
span.boolean {
    color: rgb(255, 119, 0); /* orange */
}

/*-----------------------------------------------------------------------------
 *
 * Sémantique
 *
 *---------------------------------------------------------------------------*/

 span.people {
    color: #00DD00;
}

span.date {
    color: #DD0000;
}

span.game {
    color: #006FDD;
}

span.people.border, span.date.border, span.game.border {
    border: 1px solid rgb(225, 228, 229);
    background-color: rgb(250, 250, 250);
    padding-left: 3px;
    padding-right: 5px;
}

/*-----------------------------------------------------------------------------
 *
 * Liens
 *
 *---------------------------------------------------------------------------*/
 
a {
    font-family: "Palatino Linotype", "Palatino", "Georgia";
    color: #CC6714; #929497;
}
a:hover {
    background-color: #CC6714;
    color: #FFFFFF;
}

a.red {
    color: #CC9999;
}
a.blue {
    color: #9999CC;
}
a.green {
    color: #55AA55;
}

a.cal {
    font-size: 16px;
    font-family: "Calibri";
}
a.alt {
    text-decoration: None;
}
a.alt:hover {
    background-color: #FFFFFF;
    color: rgb(204, 103, 20);
    text-decoration: underline;
}

/*-----------------------------------------------------------------------------
 *
 * Liste
 *
 *---------------------------------------------------------------------------*/

li {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #111111;
}
li.dropdown-header {
    color: #808080;
}
ol.roman {
  list-style-type:upper-roman;
}

/*-----------------------------------------------------------------------------
 *
 * Table
 *
 *---------------------------------------------------------------------------*/

table a {
    /*
    font-family:    "Lucida Grande","Verdana","Arial","Helvetica","sans-serif";
    font-size:      12px;
    */
    font-size:       14px;
    line-height:    1.6em;
}

table {
    /*
    font-family:     Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    font-size:       12px;
    */
    font-size:       14px;
    line-height:     1.6em;
    border-collapse: collapse;
    margin-bottom:   9px;
    color:           black;
}
table th {
    background-color: #CEC498;
    color: white;
    font-weight: bold;
    border: 1px solid #acaeb0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
table td {
    border: 1px solid #ACAEB0;
    font-family: "Palatino Linotype", "Palatino";
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
table tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}
table tbody tr:nth-child(2n) {
    background-color: #F5F5F5;
}

/*-----------------------------------------------------------------------------
 *
 * Liste de termes
 *
 *---------------------------------------------------------------------------*/

dt {
    font-weight: bold;
    color: #CEC498;
}
dt:before {
    content: "\233D \0020";
}

/*-----------------------------------------------------------------------------
 *
 * Ligne horizontale
 *
 *---------------------------------------------------------------------------*/

hr {
    border: None;
    height: 1px;
    color: #ACAEB0;
    background-color: #ACAEB0;
    margin: 10px;
}

/*-----------------------------------------------------------------------------
 *
 * Blockquote
 *
 *---------------------------------------------------------------------------*/

blockquote {
    border-left: 8px solid  #ACAEB0;
    padding-left: 5px;
    background-color: #EDEDED;
}
