body {
  font-family: "Palatino linotype";
}
span.type {
  color: purple;
  font-family: "Consolas";
}
span.number {
  color: red;
  font-family: "Consolas";
}
span.comment {
  color: grey;
  font-style: italic;
  font-family: "Consolas";
}
span.string {
  color: orange;
  font-family: "Consolas";
}
span.keyword {
  color: blue;
  font-weight: bold;
  font-family: "Consolas";
}
p.code {
  border: 1px solid #AAAAAA;
  background: #FAFAFA;
  font-family: "Consolas";
}
h1.title {
  border: 1px solid #AAAAAA;
  background: #FAFAFA;
  text-align: center;
  font-family: "Arial";
  color: blue;
}
ol {
  list-style-type:upper-roman;
}
table {
  border-collapse: collapse;
}
table.show, table.show th, table.show td {
  border: 1px solid black;
}
table.show td {
  text-align: center;
}